<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- 引入 ECharts 文件 -->

    <script th:src="@{/js/echarts/echarts.js}"></script>
    <script th:src="@{/js/echarts/echarts-gl.js}"></script>
    <script th:src="@{/js/jQuery-1.7.1.min.js}"></script>
    <script th:src="@{/js/echartsDemo.js}"></script>
    <title>echarsDemo</title>
</head>

<body>


<div id="container">



    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <p> 这里是一个感温光纤echarts三维模型</p>

    <div id="myChart" style="width: 1200px;height:800px;"></div>

</div>



</body>