<!doctype html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>中国电科智能系统</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4.bootcss.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://v4.bootcss.com/docs/4.0/examples/dashboard/dashboard.css" rel="stylesheet">

    <link href="http://vjs.zencdn.net/5.5.3/video-js.css" rel="stylesheet">
    <!-- If you'd like to support IE8 -->
    <script src="http://vjs.zencdn.net/ie8/1.1.1/videojs-ie8.min.js"></script>
</head>

<style>
    .header-logo-box img {
        vertical-align: middle;
        max-width: 180px;
        max-height: 55px;
    }

</style>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">中国电科</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" onclick="clickFrontPage()">
                            <span data-feather="home"></span>
                            首页
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="clickVideoButton()">
                            <span data-feather="file"></span>
                            视频监控
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="click3DButton()">
                            <!--<span class="glyphicon glyphicon-film"></span>-->
                            <span data-feather="shopping-cart"></span>
                            3D模型中心
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="clickEchartsButton()">
                            <span data-feather="users"></span>
                            echarts示例
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            故障中心
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            维保服务
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div id="testpage">


        </div>

        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->

<!--<script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"><\/script>')</script>-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<!--<script src="https://v4.bootcss.com/assets/js/vendor/popper.min.js"></script>-->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/mainpage-grid.js}"></script>
<!--<script src="http://vjs.zencdn.net/5.5.3/video.js"></script>-->
<script th:src="@{/js/video/video.js}"></script>
<script th:src="@{/js/wsExample.js}"></script>

<script src="https://v4.bootcss.com/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script th:src="@{/js/echarts/echarts.js}"></script>
<script th:src="@{/js/echarts/echarts-gl.js}"></script>
<script th:src="@{/js/jQuery-1.7.1.min.js}"></script>
<script th:src="@{/js/echartsDemo.js}"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["2019-06-17", "2019-06-18", "2019-06-19", "2019-06-20", "2019-06-21", "2019-06-22", "2019-06-23"],
            datasets: [{
                data: [15339, 21345, 18483, 14003, 13489, 14092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 3,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>
</body>
</html>
