<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.firecontrol.mapper.DemoMapper" >
    <resultMap id="BaseResultMap" type="com.firecontrol.domain.entity.DemoEntity" >
        <!-- column 对应数据库字段， property对应实体bean的属性 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="itemName" property="item_name" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="amount" property="amount" jdbcType="INTEGER" />
        <result column="df" property="df" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, item_name, price,amount, df
    </sql>

    <insert id="insert" parameterType="com.firecontrol.domain.entity.DemoEntity" >
        insert into tb_server_demo (id, item_name, price, amount, df)
        values (#{id,jdbcType=BIGINT},#{itemName,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE},
        #{amount,jdbcType=INTEGER}, #{df,jdbcType=INTEGER}
        )
    </insert>


    <select id="getAll" resultMap="BaseResultMap">
            select
            <include refid="Base_Column_List" />
            from tb_server_demo
            where df=0
    </select>
<!--        <delete id="deleteDetail">
            delete from adjustdetail where vendorId = #{vendorId,jdbcType=BIGINT} and orderNo=#{orderNo,jdbcType=VARCHAR}
        </delete>-->

</mapper>