<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firecontrol.mapper.TpsonDeviceFaultTypeMapper">
  <resultMap id="BaseResultMap" type="com.firecontrol.domain.entity.TpsonDeviceFaultTypeEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="score_weight" jdbcType="DOUBLE" property="scoreWeight" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, score_weight
  </sql>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_server_device_fault_type
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="getAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_server_device_fault_type
    order by id
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from tb_server_device_fault_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.firecontrol.domain.entity.TpsonDeviceFaultTypeEntity">
    insert into tb_server_device_fault_type ( name, score_weight
      )
    values ( #{name,jdbcType=VARCHAR}, #{scoreWeight,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.firecontrol.domain.entity.TpsonDeviceFaultTypeEntity">
    insert into tb_server_device_fault_type
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="name != null">
        name,
      </if>
      <if test="scoreWeight != null">
        score_weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="scoreWeight != null">
        #{scoreWeight,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.firecontrol.domain.entity.TpsonDeviceFaultTypeEntity">
    update tb_server_device_fault_type
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="scoreWeight != null">
        score_weight = #{scoreWeight,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>